<h1>Listing rentings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentings.each do |renting| %>
      <tr>
        <td><%= link_to 'Show', renting %></td>
        <td><%= link_to 'Edit', edit_renting_path(renting) %></td>
        <td><%= link_to 'Destroy', renting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Renting', new_renting_path %>
