    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
            <li><a href="#">Profil</a></li>
            <li><a href="#">Einstellungen</a></li>
            <li><a href="#">Ausloggen</a></li>
      </ul>
    </div>